<div class="allQPage">
  <div class="playerCard" ng-repeat="play in plays">
    <div class="player1">
      <img ng-click="addVote(play.player1.name, 'player1', play.id, play.player1.votes)" ng-src={{play.player1.img}} ng-disabled="!isEnabled">
      <h3>{{play.player1.name}}</h3>
      <span>{{play.player1.position}}</span>
      <span>{{play.player1.team}}</span><br>
      <span class="votes">Votes: {{play.player1.votes}}</span>
    </div>

    <div class="player2">
      <img ng-click="addVote('player2', play.id, play.player2.votes)" ng-src={{play.player2.img}} ng-disabled="!isEnabled">
      <h3>{{play.player2.name}}</h3>
      <span>{{play.player2.position}}</span>
      <span>{{play.player2.team}}</span><br>
      <span class="votes">Votes: {{play.player2.votes}}</span>
    </div>
  </div>
</div>
