<div class="home">
  <div class="homeNav">
    <ul>
      <li class="homeNavCrumbs">Start or Sit > <span>Crumbs go here</span></li>
      <li class="addNewQ"><a href='#/newTicket'>Add New Q</a></li>
    </ul>
  </div>

  <div class="SubNavSelection">
    <span><a href="#/home" ng-click="showAllQs()">All Q's Nav</a></span>
    <span><a href="#/home" ng-click="showMyQs()">My Q's Nav</a></span>
    <span><a href="#/home" ng-click="showPlayerSearch()">Player Search Nav</a></span>
  </div>

  <div class="homeMain">
<!-- ALL Q'S AREA -->
    <div ng-controller="AllQCtrl">
      <div class="allQ" ng-show='showAllQ'>
        <p>All Q's Div</p>
      </div>
    </div>

<!-- MY Q'S AREA/ -->
    <div ng-controller="MyQCtrl">
      <div class="myQ" ng-show='showMyQ'>
        <p>My Q's Div</p>
      </div>
    </div>

<!-- PLAYER SEARCH AREA -->
    <div ng-controller="SearchCtrl">
      <div class="searchResults" ng-show='showSearch'>
        <p>Player Search Div</p>
        <div class="playerSearchArea">
          <input type="text" placeholder="Player Search: " id="playerSearch" class="playerSearch" ng-model="playerInput" ng-change="playerSearch()">
          <div ng-repeat="player in players">
            <div ng-click="getPlayerInfo(player.FirstName, player.LastName)" class="playerSelection">
              <span>{{player.FirstName}}</span>
              <span>{{player.LastName}}</span>
              <span>{{player.Position}}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- SHOW SEARCH RESULTS AREA -->
      <div class="playerSearchResults">
        <img src='{{imgSrc}}'>
        <p>{{pName}}</p><span>{{position}}</span>
        <span>{{teamAbbr}}</span>
        <p>{{seasonProjectedPts}}</p>
        <p>{{seasonPts}}</p>
      </div>

    </div>
  </div>
</div>

<!--   $scope.esbid = ""
  $scope.pName = ""
  $scope.imgSrc = ""
  $scope.teamAbbr = ""
  $scope.position = ""
  $scope.seasonProjectedPts = ""
  $scope.seasonPts = "" -->
