  <div ng-include="'partials/subNav.html'"></div>
  <div class="homeMain">
<!-- ALL Q'S AREA -->
    <div ng-controller="AllQCtrl">
      <div class="allQ" ng-show='showAllQ'>
        <div ng-include="'partials/allQ.html'"></div>
      </div>
    </div>

<!-- MY Q'S AREA/ -->
    <div ng-controller="MyQCtrl">
      <div class="myQ" ng-show='showMyQ'>
        <div ng-include="'partials/myQ.html'"></div>
      </div>
    </div>

<!-- RESEARCH AREA -->
    <div ng-show='showResearch'>
      <div ng-controller="ResearchCtrl">
        <div ng-include="'partials/research.html'"></div>
      </div>
    </div>

<!-- PLAYER SEARCH AREA -->
    <div ng-controller="SearchCtrl">
      <div class="searchResults" ng-show='showSearch'>
        <div class="playerSearchArea">
          <span class="searchLabel">Search by player name: </span><input type="text" placeholder="Player Search: " id="playerSearch" class="playerSearch" ng-model="playerInput" ng-change="playerSearch()">
          <div class="holder" ng-repeat="player in players">
            <div ng-click="getPlayerInfo(player.FirstName, player.LastName)" class="playerSelection">
              <span>{{player.FirstName}}</span>
              <span>{{player.LastName}}</span>
              <span>{{player.Position}}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- LOADER AREA -->
      <div ng-show='loader'>
        <div>
          <div class="loader">Loading...</div>
        </div>
      </div>
      <!-- END LOADER -->

      <!-- SHOWS CLICKED PLAYER AREA -->
      <div class="searchContainer">
        <div class="playerSearchResults" ng-show='showSearch'>
          <img src='{{imgSrc}}'>
          <div class="resultsContainer">
            <p class="pName">{{pName}} <span class="dHead">{{position}}</span></p><br>
            <span class="details">{{teamAbbr}}</span></p>
          </div>
          <div class="playerNav" ng-show='showPlayerNav'>
            <ul>
              <li><a href='#/home' ng-click="activateStats()">Stats</a>
              <span><a href='#/home' ng-click="activatePlayerNews(); getPlayerNews(playerId)">News</a><span></li>
            </ul>
          </div>
          <!-- PLAYER NEWS AREA -->
          <div class="news" ng-show='showNews'>
            <div ng-repeat="news in playerNewsObj"><hr>
              <p><span class="color">BODY: </span>{{news.body}}</p>
              <p><span class="color">ANALYSIS: </span>{{news.analysis}}</p>
              <p><span class="color">TIME: </span>{{news.timestamp}}</p>
            </div>
          </div>
          <!-- END PLAYER NEWS AREA -->
        <!-- SHOWS PLAYERS STATS AND INFO AREA -->
        <div ng-show='showPlayerInfo'>
          <table class="table table-striped">
            <thead>
              <h3 class="head"><strong>Season Stats:</strong></h3>
            </thead>
            <thead class="thead-inverse">
              <tr>
                <th class="cat">Rush</th>
                <th class="cat">Rush Yds</th>
                <th class="cat">TD</th>
                <th class="cat">Rec</th>
                <th class="cat">Rec Yds</th>
                <th class="cat">Rec TD</th>
                <th class="cat">Fumbles Lost</th>
                <th class="cat">Completions</th>
                <th class="cat">Pass Yds</th>
                <th class="cat">Pass TDs</th>
              </tr>
            </thead>
            <tbody class="table-hover">
              <tr>
                <td>{{rushAttempts}}</td>
                <td>{{rushYards}}</td>
                <td>{{rTD}}</td>
                <td>{{receptions}}</td>
                <td>{{recYards}}</td>
                <td>{{recTD}}</td>
                <td>{{fumblesLost}}</td>
                <td>{{completions}}</td>
                <td>{{pYards}}</td>
                <td>{{pTD}}</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
              <thead>
                <h3 class="head"><strong>Season Fantasy Stats:</strong></h3>
              </thead class="table-hover">
              <thead>
                <th>Projected Points</th>
                <th>Current Points</th>
                <th>Projected Week Points</th>
                <th>Current Week Points</th>
              </thead>
            <tr>
              <td>{{seasonProjectedPts}}</td>
              <td>{{seasonPts}}</td>
              <td>{{weekProjectedPts}}</td>
              <td>{{currentWeekPts}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
