<div class="image">
  <img src="background.jpg">
</div>

<div class="splash">

  <div class="loginNav">
    <h2>Login or signup</h2>
    <span ng-click="showLogin()" class="loginNavOption">Login</span>
    <span ng-click="showSignUp()"" class="loginNavOption">Sign Up</span>
  </div>


  <div class="login" ng-show="loginPage">
    <form class="loginInfo">
      <h4 class="loginHead">Login:</h4>
      <label for='email'>Email: </label>
      <input type="text" ng-model="account.email" id="email" class="email"><br><br>
      <label for='pass'>Password:</label>
      <input type="password" ng-model="account.password" id="pass" class="pass"><br><br>
      <button class='submitLogin' value="Login" ng-click="login()" id="submitLogin">Login</button>
      <button class='googleLogin' value="Login with Google" ng-click="googleLogin()" id="googleLogin">Login with Google</button>
    </form>
  </div>

  <div class="signUp" ng-show="signUpPage">
    <form class="signUpInfo">
      <h4>Signup:</h4>
      <label for="name">Name: </label>
      <input type="text" ng-model="account.name" id="name" class="name"><br><br>
      <label for='email'>Email: </label>
      <input type="text" ng-model="account.email" id="email" class="email"><br><br>
      <label for='pass'>Password: </label>
      <input type="password" ng-model="account.password" id="pass" class="pass"><br><br>
      <button class='register' value="Register" ng-click="register()" id="register">Register</button>
    </form>
  </div>
</div>
