<div>
  <!-- <div ng-include="'partials/splash.html'"></div> -->
  <div class="login">
    <h2>Login or signup</h2>
    <a href='#'>Login</a>
    <a href="#">Sign Up</a>

    <form class="login">
      <h4>Login</h4>
      <label for='email'>Email: </label>
      <input type="text" ng-model="account.email" id="email" class="email">
      <label for='pass'>Password: </label>
      <input type="password" ng-model="account.password" id="pass" class="pass">
      <input type="button" class='submitLogin' value="Login" ng-click="login()" id="submitLogin">
      <input type="button" class='googleLogin' value="Login with Google" ng-click="googleLogin()" id="googleLogin">
    </form>

    <form class="signUp">
      <h4>Signup</h4>
      <label for="name">Name: </label>
      <input type="text" ng-model="account.name" id="name" class="name">
      <label for='email'>Email: </label>
      <input type="text" ng-model="account.email" id="email" class="email">
      <label for='pass'>Password: </label>
      <input type="password" ng-model="account.password" id="pass" class="pass">
      <input type="button" class='register' value="Register" ng-click="register()" id="register">
    </form>
  </div>
</div>
