<div class="myQPage">
  <div class="playerCard" ng-repeat="play in plays">
    <div class="player1">
      <span class="glyphicon glyphicon-remove delete" ng-click="deletePlay(play.id)"></span>
      <img src={{play.player1.img}}>
      <h3>{{play.player1.name}}</h3>
      <span>{{play.player1.position}}</span>
      <span>{{play.player1.team}}</span><br>
      <span class="votes">Votes: {{play.player1.votes}}</span>
    </div>

    <div class="player2">
      <img src={{play.player2.img}}>
      <h3>{{play.player2.name}}</h3>
      <span>{{play.player2.position}}</span>
      <span>{{play.player2.team}}</span><br>
      <span class="votes">Votes: {{play.player2.votes}}</span>
    </div>
  </div>
</div>
