<h2 class="title">Add New Play</h2>
<a class="back" href="#/home">Back</a><br>
    <!-- PLAYER 1 SELECTION AREA -->
<div class="p1SearchArea searchArea">
  <h2>Select your first player!</h2>
  <input ng-model="p1Input" ng-change="p1Search()" type="text" id="p1Input" class="p1Input" placeholder="Enter first player">
  <div class="p1SearchResults" ng-repeat="player in p1Players" ng-show='p1Results'>
    <span ng-click="buildP1Object(player.FirstName, player.LastName)">
      <span>{{player.FirstName}}</span>
      <span ng-if="player.Position !== 'D'">{{player.LastName}}</span>
      <span>{{player.Position}}</span>
    </span>
  </div>
  <div class="SelectedP1">
    <img src={{p1Object.img}}>
    <h3 class="name">{{p1Object.name}}</h3>
    <span>{{p1Object.position}}</span>
    <span>{{p1Object.team}}</span>
  </div>
</div>
  <!-- PLAYER 2 SELECTION AREA -->
<div class="p2SearchArea searchArea">
  <h2>Select your second player!</h2>
  <input ng-model="p2Input" ng-change="p2Search()" type="text" id="p2Input" class="p2Input"  placeholder="Enter second player">
  <div class="p2SearchResults" ng-repeat="player in p2Players" ng-show='p2Results'>
    <div ng-click="buildP2Object(player.FirstName, player.LastName)">
      <span>{{player.FirstName}}</span>
      <span ng-if="player.Position !== 'D'">{{player.LastName}}</span>
      <span>{{player.Position}}</span>
    </div>
  </div>
  <div class="SelectedP2">
    <img src={{p2Object.img}}>
    <h3 class="name">{{p2Object.name}}</h3>
    <span class="info">{{p2Object.position}}</span>
    <span class="info">{{p2Object.team}}</span>
  </div>
</div>

<!-- LOADER AREA -->
<div ng-show='showLoader'>
  <div>
    <div class="loader">Loading...</div>
  </div>
</div><br>
<!-- SUBMIT BUTTON -->
<input class="addPlay" id="addPlay" type="button" value="Add New Play" ng-click="addPlayToFirebase()">

