<div class="researchArea">
  <h2>Research Area</h2>
  <!-- FIRST 5 EDITOR RANKS AREA -->
  <h3>Editor Ranks</h3>
  <table class="table table-striped shortERanks">
    <thead class="thead-inverse">
      <tr>
        <th class="rankCat">Average Rank</th>
        <th class="rankCat">Name</th>
        <th class="rankCat">Position</th>
        <th class="rankCat">Team</th>
        <th class="rankCat">Current Week Opponent</th>
        <th class="rankCat">Stock</th>
      </tr>
    </thead>
    <tbody class="table-striped" ng-repeat="ranks in editorRanks">
      <tr>
        <td>{{ranks.rank}}</td>
        <td>{{ranks.firstName}} {{ranks.lastName}}</td>
        <td>{{ranks.position}}</td>
        <td>{{ranks.teamAbbr}}</td>
        <td>{{ranks.opponentTeamAbbr}}</td>
        <td>{{ranks.stock}}</td>
      </tr>
    </tbody>
  </table>
  <a class="showMore" href="#/editorRanks">SHOW MORE</a>
  <!-- END FIRST 5 EDITOR RANKS AREA -->
  <!-- START SEASON SCORING LEADERS AREA -->
  <h3>Season Scoring Leaders</h3>
  <table class="table table-striped shortELeaders">
    <thead class="thead-inverse">
      <tr>
        <th class="rankCat">Rank</th>
        <th class="rankCat">Name</th>
        <th class="rankCat">Position</th>
        <th class="rankCat">Team</th>
        <!-- <th class="rankCat">Current Week Opponent</th> -->
        <th class="rankCat">Season Projected Points</th>
        <th class="rankCat">Current Points</th>
      </tr>
    </thead>
    <tbody class="table-striped" ng-repeat="leaders in scoringLeaders">
      <tr>
        <td>{{leaders.rank}}</td>
        <td>{{leaders.firstName}} {{leaders.lastName}}</td>
        <td>{{leaders.position}}</td>
        <td>{{leaders.teamAbbr}}</td>
        <!-- <td>{{leaders.opponentTeamAbbr}}</td> -->
        <td>{{leaders.projectedPts}}</td>
        <td>{{leaders.pts}}</td>
      </tr>
    </tbody>
  </table>
  <a class="showMore" href="#/scoringLeaders">SHOW MORE</a>
  <!-- END SCORING LEADERS AREA -->
  <!-- BEGIN PLAYER RESEARCH AREA -->
  <h3>Fantasy Start/Sit Statistics</h3>
  <table class="table table-striped shortELeaders">
    <thead class="thead-inverse">
      <tr>
        <th class="rankCat">Order on Depth Chart</th>
        <th class="rankCat">Name</th>
        <th class="rankCat">Position</th>
        <th class="rankCat">Team</th>
        <th class="rankCat">Current Week Opponent</th>
        <th class="rankCat">Drops</th>
        <th class="rankCat">Adds</th>
        <th class="rankCat">Percent Owned</th>
        <th class="rankCat">Percent Started</th>
        <th class="rankCat">Percent Started Change</th>
      </tr>
    </thead>
    <tbody class="table-striped" ng-repeat="players in playerResearch">
      <tr>
        <td>{{players.depthChartOrder}}</td>
        <td>{{players.firstName}} {{players.lastName}}</td>
        <td>{{players.position}}</td>
        <td>{{players.teamAbbr}}</td>
        <td>{{players.opponentTeamAbbr}}</td>
        <td>{{players.numDrops}}</td>
        <td>{{players.numAdds}}</td>
        <td>{{players.percentOwned}}</td>
        <td>{{players.percentStarted}}</td>
        <td>{{players.percentStartedChange}}</td>
      </tr>
    </tbody>
  </table>
  <a class="showMore" href="#/fantasyResearch">SHOW MORE</a>
  <!-- END PLAYER RESEARCH AREA -->
  <!-- START RECENT PLAYER NEWS AREA -->
  <h3>Recent Player News</h3>
  <div class="recentNews" ng-repeat="news in recentNews">
    <h2>{{news.firstName}} {{news.lastName}}<span class="position">{{news.teamAbbr}}</span>
    <span class="position">{{news.position}}</span></h2>
    <p><span class="color">Body: </span>{{news.body}}</p>
    <p><span class="color">Analysis: </span>{{news.analysis}}</p>
    <p><span class="color">Timestamp: </span>{{news.timestamp}}</p><hr>
  </div>
  <a class="showMore" href='#/recentNews'>Show More</a>
  <!-- END RECENT PLAYER NEWS AREA -->
</div>
