  <div class="homeNav">
    <ul>
      <li class="homeNavCrumbs">Start or Sit > <span>{{crumbs}}</span></li>
      <li class="addNewQ"><a href='#/newTicket'>Add New Q</a></li>
    </ul>
  </div>

  <div class="SubNavSelection">
    <span><a href="#/home" ng-click="showAllQs()">All Q's Nav</a></span>
    <span><a href="#/home" ng-click="showMyQs()">My Q's Nav</a></span>
    <span><a href="#/home" ng-click="showPlayerSearch()">Player Search Nav</a></span>
    <span><a href="#/home" ng-click="showResearchArea()">Research</a></span>
  </div>
