<div class="editorRanks">
<h2>Editor Week Ranks</h2>
<a class="back" href="#/home">Back</a><br>
  <span class="filterL">Filter by position: </span>
  <select class="filter" ng-model="position" ng-change="getERanks(position)">
    <option default value="QB">QB</option>
    <option value="RB">RB</option>
    <option value="WR">WR</option>
    <option value="TE">TE</option>
    <option value="K">K</option>
    <option value="DEF">DEF</option>
  </select>
  <table class="table table-striped shortERanks">
    <thead class="thead-inverse">
      <tr>
        <th class="rankCat">Average Rank</th>
        <th class="rankCat">Name</th>
        <th class="rankCat">Position</th>
        <th class="rankCat">Team</th>
        <th class="rankCat">Current Week Opponent</th>
        <th class="rankCat">Stock</th>
      </tr>
    </thead>
    <tbody class="table-striped" ng-repeat="ranks in editorRanks">
      <tr>
        <td>{{ranks.rank}}</td>
        <td>{{ranks.firstName}} {{ranks.lastName}}</td>
        <td>{{ranks.position}}</td>
        <td>{{ranks.teamAbbr}}</td>
        <td>{{ranks.opponentTeamAbbr}}</td>
        <td>{{ranks.stock}}</td>
      </tr>
    </tbody>
  </table>
</div>
