<div class="recentPlayerNews">
<h2>Recent Player News</h2>
  <a class="back" href="#/research">Back</a>
  <div class="newsContainer">
  <div class="recentNews" ng-repeat="news in recentNews">
    <h2>{{news.firstName}} {{news.lastName}}<span class="position">{{news.teamAbbr}}</span>
    <span class="position">{{news.position}}</span></h2>
    <p><span class="color">Body: </span>{{news.body}}</p>
    <p><span class="color">Analysis: </span>{{news.analysis}}</p>
    <p><span class="color">Timestamp: </span>{{news.timestamp}}</p><hr>
  </div>
  </div>
</div>
