<div class="scoringLeaders">
<h2>Scoring Leaders</h2>
  <a class="back" href="#/research">Back</a><br>
  <span class="filterL">Filter by position: </span>
  <select class="filter" ng-model="position" ng-change="getLeaders(position)">
    <option default value="QB">QB</option>
    <option ng-click="getLeaders('RB')" value="RB">RB</option>
    <option ng-click="getLeaders('WR')" value="WR">WR</option>
    <option ng-click="getLeaders('TE')" value="TE">TE</option>
    <option ng-click="getLeaders('K')" value="K">K</option>
    <option ng-click="getLeaders('DEF')" value="DEF">DEF</option>
  </select>
  <table class="table table-striped shortELeaders">
    <thead class="thead-inverse">
      <tr>
        <th class="rankCat">Rank</th>
        <th class="rankCat">Name</th>
        <th class="rankCat">Position</th>
        <th class="rankCat">Team</th>
        <!-- <th class="rankCat">Current Week Opponent</th> -->
        <th class="rankCat">Season Projected Points</th>
        <th class="rankCat">Current Points</th>
      </tr>
    </thead>
    <tbody class="table-striped" ng-repeat="leaders in scoringLeaders">
      <tr>
        <td>{{leaders.rank}}</td>
        <td>{{leaders.firstName}} {{leaders.lastName}}</td>
        <td>{{leaders.position}}</td>
        <td>{{leaders.teamAbbr}}</td>
        <!-- <td>{{leaders.opponentTeamAbbr}}</td> -->
        <td>{{leaders.projectedPts}}</td>
        <td>{{leaders.pts}}</td>
      </tr>
    </tbody>
  </table>
</div>
